<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="greetings" id="main-greet">
        Lets explore some space objects!
    </div>
    <div class = "f1">
        <form method="post" >
            <span class = "p1"><label for="from">From: </label><input type="datetime-local" step = "1" name="from" id="from" placeholder="x"></span>
            <span class = "p2"><label for="to">To: </label><input type="datetime-local" step = "1" name="to" id="to"></span>
            <div class = "srchBttn"><input type="submit" formaction="search" value="Search" class="btn" ></div>
        </form>
    </div>
    </div>
</body>
</html>